{% extends 'base.html' %}
{% block page %}
<br><br><br>
<center>
<div class="jumbotron jumbotron-fluid bg-light ">
    <div class="container">
      <h3 class="display-5" style="font-weight: bold; color: red;">Objective of Project:</h3>
      <ul style="font-size: 20px; font-weight: 500; color: #2378D9; text-align: left;">
        <li>Provide a Basic Information about blood donation.</li>
        <li>Collect the basic information of the donors and also about blood and store it in the database.</li>
        <li>Giving the option to search by location to know the information of the donors in blood bank</li>
        <li>To get to know the how much quantity of blood is present in Blood Bank.</li>
        <li>To provide the information to the acceptor that if blood is not present in the given location then where can he/she can get the required blood.</li>
        <li>Creating Friendly user interface so that any body can handle the website.</li>
        <li>Collecting the basic information of the Acceptor person.</li>
        <li>Instantly deleting the information from blood bank about Blood which the Acceptor collects from blood bank.</li>
      </ul>
    </div>
  </div>
</center>
{% endblock %}