{% extends 'base.html' %}
{% block page %}
<br><br><br>
<center>
<div class="jumbotron jumbotron-fluid bg-dark ">
    <div class="container">
      <h3 class="display-5" style="font-weight: bold; color: red;">About this Project</h3>
      <p class="lead" style="font-size: 19px; font-weight: 500; color: #2378D9; text-align: left;">
        $ This is Blood Donation Database project where it collects the data from the user who donated the blood and store it in mysql. <br>
        $ If any person need blood in case of any emergencies he can look in this  website if the blood in present in the Blood Bank or not.If the blood is  present then he can collect the blood.<br> 
        $ This application is built using 5 different language they are Python,Mysql,Html,Css,JavaScript<br>
        $ This is a flask application <br>
        $ Kindly go through the above navbar
      </p>
    </div>
  </div>
</center>
{% endblock %}