{% extends 'base.html' %}
{% block page %}
<br><br><br>
<center>
<div class="jumbotron jumbotron-fluid bg-light show_info">
    <div class="container">
      <h3 class="display-5" style="font-weight: bold; color: red;">Information of the Donors</h3>
      <table>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Blood Group</th>
            <th>Location</th>
            <th>Quantity</th>
          </tr>
          {% for row in li %}
          <tr>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td>{{ row[6] }}</td>
              <td>{{ row[7] }}</td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
</center>
{% endblock %}